@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap');

body{
  background:black;
}

.registroButton{
  width: 310px;
  height:40px ;

}
  
.letrasRegistro{
    color: #a62b70 ;
}



.fontPruebaDos{
    font-family: 'Bebas Neue', cursive;
}

.logoV{
  height: 150px;
}

.logoModal{
  height: 100px;
  width: 100px;
  margin: auto;
}

.botonSalida{
  margin: 10px;
  color: red;
}

.colorModal{
  background-image: url(../img/imgModalDos.jpeg);
  background-position: center;
}

.modalRegistro{
  background-image: url(../img/modalRegistro.jpeg);
  background-position: center;
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');

*{
    font-family: 'Orbitron', sans-serif;
}

.navfixed{
    position: fixed;
    z-index: 4;
    width: 100%;
    top: 0;
}

.mslider{
    margin-top: 85px;
}
.colorFondo {
    background-color: #370247;
}

.colorBotonIS {
    background-color: #c38ee6;
}

.colorSuscripcion {
    background-color: #bc21bc;
}

.imgCircular {
    border-radius: 50%;
    
}

.imgSobreNosotros {
    background-size: cover;
}

.bannerSobreNosotros {
    width: 100%;
    height: 405px;
}

.facebook:hover{
    background: #41579A;
    color: #fff;
    border-radius: 5px;
}

.twitter:hover{
    background: #00acee;
    color: #fff;
    border-radius: 5px;
}

.instagram:hover{
    background: linear-gradient(to top right, #FCDE30, #E9712A, #D2313B, #AE4198, #7540A1, #5443A8);
    color: #fff;
    border-radius: 5px;
}



.titleAbout{
    margin-top: 80px;
}
.contenedorImg {
    display: flex;
    justify-content: space-between;
}

.imgCircular {
    border-radius: 50%;
    border:2px solid #f5f5f5 ;
    width: 50%;
    object-fit: fill;
    
}

.colorRaya {
    background-color:#f5f5f5 ;
    
}
.marginBotonesNav{
    margin-top: 10px;
    margin-bottom: 10px;
}




@media all and (max-width: 576px){

    .imgNone{
        display: none;
    }

    .redesResponsive{
        justify-content: space-between;
    }
    
    .logoResponsive{
        text-align: center;
    }
 
}

.colorbg{
    background-color: rgb(0, 0, 0);
}

.titulosColor{
    color: whitesmoke;
}